/*
Palette: 	#B6B7C3,#9EA3B0,#7F94A3,#546A7B,#0D1F2D,#B6B7C3,#9EA3B0,#7F94A3
	
	*/

body{
	width:1000px;
	margin: 0 auto 0 auto;
}

.header{
	grid-area: header;
	background-color: #7F94A3;
	height: 200px;
	padding: 100px 0 0 100px;
	color: #294543;
	
}
.content{
	grid-area: content;
	background-color: #9EA3B0;
	
}
.content h2{
	color: #39471b;
	padding-left: 100px;
}

.sidebar{
	grid-area: sidebar;
	background-color: #B6B7C3;
	
}

.footer{
	grid-area: footer;
	background-color:#7F94A3;
	color: #404a60;
}

.container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
	background-color:#ffffff;
	grid-template-rows: auto;
	grid-template-areas: 
	"header header header header header"
	"content content content content sidebar"
	"footer footer footer footer footer";
}
#sidebarmenu {
	list-style: none;
	font-family: sans-serif;
	font-size: x-large;
	line-height: 50px;
	color:#30474d;
	text-align: left;
	padding: 50px auto auto 10px;
	
}

.gallery{	
	width: 700px;
	height: 300px;
	padding-left: 50px;
	
	
}

table{
	table-layout: fixed;
	width: 700px;
	border-spacing: 10px;
}

td{
	width:228px;
	height: 122px;
	background-color: #165570;
	
}

